.navbar{
    display: flex;
    padding : 10px;
    justify-content: space-between;
    border: 1px solid black;
    background: #50a3a2;
}

.footer{
    display: flex;
    padding : 10px;
    justify-content: space-between;
    border: 1px solid black;
    background-color: white;
}

.logo{
    width : 50px;
    border-radius: 50%;
}